section.intro {
	padding-top:3rem;
	margin-top:0;
	.intro-outer {
		border:1px solid $primary-color;
		width:100%;
		max-width:30rem;
		height:12rem;
		padding:1rem;
		margin:0 auto;
		position:relative;
		@include media($tablet) {
			height:15rem;
		}
		&:before {
			content:"";
			background-color:$primary-color;
			width:1px;
			height:3rem;
			position:absolute;
			top:-3.0625rem;
			left:50%;
		}
		.intro-inner {
			border:1px dashed $primary-color;
			width:100%;
			height:100%;
			text-align:center;
			@extend .v-align;
			.intro-heading {
				@extend .v-aligned;
			}
			h1 {
				font-weight:normal;
				color:$primary-color;
				&:first-child {
					font-family:$heading-font;
					text-transform:uppercase;
					letter-spacing:0.3em;
					font-size:1.1em;
					@include media($tablet) {
						font-size:1.5em;
					}
				}
				&:nth-child(2) {
					font-family:$sub-heading-font;
					font-size:0.8em;
					@include media($tablet) {
						font-size:1em;
					}
				}

			}
		}
	}
}