section.intro {
	padding-top:20rem;
	margin-top:0;
	.intro-outer {
		border:1px solid $primary-color;
		width:100%;
		max-width:30rem;
		height:12rem;
		padding:1rem;
		margin-left:auto;
		margin-right:auto;
		margin-top:0;
		@include media ($tablet) {
			margin-top:-100%;
		}
		position:relative;
		@include transition(all 0.3s);
		@include media($tablet) {
			height:15rem;
		}
		/*&:before {
			content:"";
			background-color:$primary-color;
			width:1px;
			height:8rem;
			position:absolute;
			top:-8rem;
			left:50%;
		}*/
		/*&:after {
			content:"";
			background-color:lightgrey;
			width:50%;
			height:2px;
			position:absolute;
			bottom:-3rem;
			left:50%;
			@include transform(translateX(-50%));
		}*/
		.intro-inner {
			border:1px dashed $primary-color;
			width:100%;
			height:100%;
			text-align:center;
			@extend .v-align;
			.intro-heading {
				@extend .v-aligned;
			}
			h1 {
				font-weight:normal;
				color:$primary-color;
				&:first-child {
					font-family:$heading-font;
					text-transform:uppercase;
					letter-spacing:0.3em;
					font-size:1.1em;
					@include media($tablet) {
						font-size:1.5em;
					}
				}
				&:nth-child(2) {
					font-family:$sub-heading-font;
					font-size:0.8em;
					@include media($tablet) {
						font-size:1em;
					}
				}

			}
		}
	}
}

.intro-outer {
	&.intro-outer-rotate {
		@include animation(intro 1s linear);
		@include animation-fill-mode(forwards);
	}
}
@include keyframes(intro) {
	0% {
		margin-top:-100%;
	}
	25% {
		margin-top:2%;
	}
	50% {
		margin-top:-2%;
	}
	75% {
		margin-top:0;
	}
	100% {
		margin-top:0;
	}
}
