.island-wrap {
	position:absolute;
	width:100%;
	text-align:center;
	z-index:0;
	top:40%;
	@include transform(translate3d(0, 0, 0));
	@include backface-visibility(hidden);
	@include perspective(1000);
	//left:50%;
	//@include transform(translateX(-50%) translateZ(0));
	@include animation(float 3s ease infinite);
	.no-js &, .touch & {
		position:fixed;
	}
}
.island {
	width:100%;
	@include transform(translate3d(0, 0, 0));
	@include perspective(1000);
	padding:0 2rem;

	&.island-on-load {
		@include animation(island-onload 1.5s cubic-bezier(1,0,.19,1.44));
	}

	img {
		//width:2480px;
		//height:2280px;
		max-width:100%;
	}
}
@include keyframes(island-onload) {
	0% {
		@include transform(scale(0));
		//margin-top:60rem;
		margin-top:-40%;
	}
	100% {
		@include transform(scale(1));
		margin-top:0;
	}
}
.island-shadow {
	position:absolute;
	top:13%;
	left:50%;
	@include transform(translateX(-50%));
	width:10em;
	height:1em;
	font-size:0.6em;
	background:black;
	border-radius:50%;
	//opacity:0.09;
	opacity:0;
	@include media($tablet) {
		font-size:0.8em;
	}
	@include media($desktop) {
		font-size:1em;
	}
}

// Island float

@include keyframes(float) {
  0% {
    margin-top:0;
  }
  50% {
    margin-top:-0.3%;
  }
  100% {
	margin-top:0;
  }
}