body.loading {
    .js & {
        overflow:hidden;
        .loading-animation {
            display:block;
        }
    }
}

.loading-animation {
	display:none;
	position:fixed;
    z-index:1000;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background:white;
    text-align:center;
}