$mobile: new-breakpoint(min-width 0px);
$tablet: new-breakpoint(min-width 480px);
$desktop: new-breakpoint(min-width 768px);
$header-tree: new-breakpoint(min-width 1100px);
$widescreen: new-breakpoint(min-width 1281px);

/*
.wrapper {
    @include row();
    .primary { 
		@include media($mobile) {
			@include span-columns(12);
		}
		@include media($tablet) {
			@include span-columns(6);
		}
		@include media($desktop) {
			@include span-columns(4);
		}
    }
    .secondary { 
        @include media($mobile) {
			@include span-columns(12);
		}
		@include media($tablet) {
			@include span-columns(6);
		}
		@include media($desktop) {
			@include span-columns(4);
		}
    }
    .tertiary { 
        @include media($mobile) {
			@include span-columns(12);
		}
		@include media($tablet) {
			@include span-columns(6);
		}
		@include media($desktop) {
			@include span-columns(4);
		}
    }
}
*/
header {
	@include row();
}
main {
	@include row();
}

section.intro {
	@include outer-container;
}
section.projects {
	@include outer-container;
	.project {
		@include outer-container;
		.project-image {
			@include media($mobile) {
				@include span-columns(12);
			}
			@include media($desktop) {
				@include span-columns(6);
			} 
		}
		.project-info {
			@include media($mobile) {
				@include span-columns(12);
			}
			@include media($desktop) {
				@include span-columns(6);
			} 
		}
	}
}

section.project-overview {
	@include outer-container;
}
section.project-stats {
	@include outer-container;
	.ambition {
		@include media($mobile) {
			@include span-columns(12);
		}
	}
	.roles, .technologies {
		@include media($mobile) {
			@include span-columns(12);
		}
		@include media($tablet) {
			@include span-columns(6);
		}
	}
}