$zero: new-breakpoint(min-width 0px);
$mobile: new-breakpoint(min-width 320px);
$tablet: new-breakpoint(min-width 480px);
$desktop: new-breakpoint(min-width 768px);
$container: new-breakpoint(min-width 1088px);
$widescreen: new-breakpoint(min-width 1281px);

header {
	@include row();
}
main {
	@include row();
}

section.intro {
	@include row();
}
section.about {
	@include outer-container;
	.about-about, .about-technologies {
		@include media($zero) {
			@include span-columns(12);
		}
		@include media($desktop) {
			@include span-columns(6);
			@include omega;
		}
	}
}
section.projects {
	@include outer-container;
	.project {
		@include outer-container;
		.project-thumb {
			@include media($zero) {
				@include span-columns(12);
			}
			@include media($desktop) {
				@include span-columns(6);
			} 
		}
		.project-info {
			@include media($zero) {
				@include span-columns(12);
			}
			@include media($desktop) {
				@include span-columns(6);
			} 
		}
	}
}
section.contact {
	@include outer-container;
}

// Project pages
section.project-overview {
	@include outer-container;
}
section.project-buttons {
	@include row();
}
section.project-stats {
	@include outer-container;
	.ambition {
		@include media($desktop) {
			@include span-columns(6);
			@include omega;
		}
	}
	.roles, .technologies {
		@include media($desktop) {
			@include span-columns(3);
			@include omega;
		}
	}
}
section.project-images {
	@include outer-container;
	.project-descrip {
		@include span-columns(10);
		@include shift(1);
		@include media($desktop) {
			@include span-columns(7);
			@include shift(2.5);
		}
	}
}