html, body {
	height:100%;
}
header {
	//@include linear-gradient(#e55d87, #00ccfe);
	//@include linear-gradient(#00ccfe 0%, #e55d87 80%, $fallback:#00ccfe );
	background:#79CCEA;
	height:100%;
	width:100%;
	text-align:center;
	position:relative;
	overflow:hidden;
	z-index:-1;

	h1.header-title {
		margin:0;
		position:relative;
		//top:25%;
		text-transform:uppercase;
		font-family:Roboto Slab;
		//font-weight:bold;
		color:#fff;
		z-index:1;
		text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
		@include transform(translateX(-100%));
		@include backface-visibility(hidden);
		@include perspective(1000);
		.no-js &, .touch & {
			@include transform(translateX(0));
		}
	    @include media($zero) {
			font-size:2em;
			top:30%;
		}
	    @include media($mobile) {
			font-size:2.5em;
			top:27%;
		}
	    @include media($tablet) {
			font-size:3em;
			top:25%;
		}
		@include media($desktop) {
			font-size:3.5em;
		}
		@include media($widescreen) {
			font-size:5em;
		}
		&.header-on-load {
			@include animation(header-onload 3s cubic-bezier(1,0,.19,1.44));
			@include animation-fill-mode(forwards);
		}
	}
}
@include keyframes(header-onload) {
	0% {
		@include transform(translateX(-100%));
	}
	50% {
		@include transform(scale(0.7,0.8));
	}
	75% {
		@include transform(scale(1,1));
	}
	100% {
		@include transform(translateX(0));
	}
}

.landscape-back {
	width:100%;
	height:100%;
	position:absolute;
	bottom:0;
	left:0;
	background:url('../images/back-blue.png');
	background-size:cover;
	background-position:50% 100%;
	@include transform(translate3d(0, 0, 0));
	@include backface-visibility(hidden);
	@include perspective(1000);
	.touch &, .no-js & {
		background:none;
	}
}
.landscape-middle {
	width:100%;
	height:100%;
	position:absolute;
	bottom:0;
	left:0;
	background:url('../images/middle-blue.png');
	background-size:cover;
	background-position:50% 100%;
	@include transform(translate3d(0, 0, 0));
	@include backface-visibility(hidden);
	@include perspective(1000);
	.touch &, .no-js & {
		background:none;
	}
}
.landscape-front {
	width:100%;
	height:100%;
	position:absolute;
	bottom:0;
	left:0;
	background:url('../images/front-blue.png');
	background-size:cover;
	background-position:50% 100%;
	.touch &, .no-js & {
		background:url('../images/landscape-full.png');
		background-size:cover;
		background-position:50% 100%;
	}
}
.landscape-bottom {
	width:100%;
	height:100%;
	position:absolute;
	top:100%;
	left:0;
	background:url('../images/bottom-blue.png');
	background-size:cover;
	background-position:50% 0%;
	z-index:2;
}