header {
	background-color:#78C1B6;
	height:100vh;
	width:100%;
	text-align:center;
	position:relative;
	overflow:hidden;
	h1.header-title {
		margin:0;
		position:relative;
		top:20%;
		text-transform:uppercase;
		font-family:$header-bubble-font;
		font-weight:normal;
		color:#fff;
		font-size:2.8em;
		z-index:1;
		text-shadow:
	    0px 4px 5px rgba(0, 0, 0, 0.6);
	    @include media($tablet) {
			font-size:4.6em;
		}
		@include media($desktop) {
			font-size:6em;
		}
		@include media($widescreen) {
			font-size:7.5em;
		}
	}
	.island-wrap {
		position:absolute;
		top:37%;
		left:50%;
		width:100%;
		@include transform(translateX(-50%));
		@include animation(float 3s ease infinite);
	}
	img.island {
		width:100%;
		max-width:566px;
	}
	.island-shadow {
		position:absolute;
		top:20%;
		left:50%;
		width:15rem;
		height:1rem;
		background:black;
		border-radius:50%;
		opacity:0.2;
		@include transform(translateX(-50%));
	}
	.island-cloud {
		width:25%;
		max-width:inherit;
		position:absolute;
	}
	.cloud-1 {
		max-width:357px;
		top:2rem;
		left:2rem;
		@include animation(cloud1 10s ease infinite);
	}
	.cloud-2 {
		max-width:279px;
		top:10rem;
		right:3rem;
		@include animation(cloud2 10s ease infinite);
	}
	.cloud-3 {
		max-width:257px;
		bottom:8rem;
		left:1rem;
		@include animation(cloud3 10s ease infinite);
	}

	.train-bg {
		opacity:0;
		background:url(../../images/train.jpg);
		background-size:cover;
		background-position:center;
		height:100vh;
		width:100%;
		position:absolute;
		top:0;
		left:0;
	}
}

@include keyframes(float) {
  0% {
    top: 37%;
  }
  50% {
    top:38%;
  }
  100% {
	top:37%;
  }
}

@include keyframes(cloud1) {
  0% {
    left:2rem;
  }
  50% {
    left:2.5rem;
  }
  100% {
	left:2rem;
  }
}

@include keyframes(cloud2) {
  0% {
    right:3rem;
  }
  50% {
    right:3.7rem;
  }
  100% {
	right:3rem;
  }
}

@include keyframes(cloud3) {
  0% {
    left:1rem;
  }
  50% {
    left:5rem;
  }
  100% {
	left:1rem;
  }
}