html, body {
	height:100%;
}
header {
	//@include linear-gradient(#e55d87, #00ccfe);
	@include linear-gradient(#00ccfe 0%, #e55d87 80%, $fallback:#00ccfe );
	height:100%;
	width:100%;
	text-align:center;
	position:relative;
	overflow:hidden;
	z-index:-1;

	h1.header-title {
		margin:0;
		position:relative;
		top:25%;
		text-transform:uppercase;
		font-family:$header-bubble-font;
		font-weight:normal;
		color:#fff;
		z-index:1;
		text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
		@include transform(translate3d(0, 0, 0));
		@include backface-visibility(hidden);
		@include perspective(1000);
	    @include media($zero) {
			font-size:2em;
			top:30%;
		}
	    @include media($mobile) {
			font-size:2.8em;
			top:25%;
		}
	    @include media($tablet) {
			font-size:4em;
			top:25%;
		}
		@include media($widescreen) {
			font-size:5em;
			top:25%;
		}
	}
}

.landscape-back {
	width:100%;
	height:100%;
	position:absolute;
	bottom:0;
	left:0;
	background:url('../images/back.png');
	background-size:cover;
	background-position:50% 100%;
	@include transform(translate3d(0, 0, 0));
	@include backface-visibility(hidden);
	@include perspective(1000);
}
.landscape-middle {
	width:100%;
	height:100%;
	position:absolute;
	bottom:0;
	left:0;
	background:url('../images/middle.png');
	background-size:cover;
	background-position:50% 100%;
	@include transform(translate3d(0, 0, 0));
	@include backface-visibility(hidden);
	@include perspective(1000);
}
.landscape-front {
	width:100%;
	height:100%;
	position:absolute;
	bottom:0;
	left:0;
	background:url('../images/front.png');
	background-size:cover;
	background-position:50% 100%;
}
.landscape-bottom {
	width:100%;
	height:100%;
	position:absolute;
	top:100%;
	left:0;
	background:url('../images/btm.png');
	background-size:cover;
	background-position:50% 0%;
	z-index:2;
}
.island-wrap {
	position:absolute;
	width:100%;
	text-align:center;
	z-index:0;
	top:40%;
	@include transform(translate3d(0, 0, 0));
	@include backface-visibility(hidden);
	@include perspective(1000);
	//left:50%;
	//@include transform(translateX(-50%) translateZ(0));
	//@include animation(float 3s ease infinite);
	.no-js & {
		position:fixed;
	}
}
@include keyframes(island-onload) {
	from {
		@include transform(translateZ(500px));
	}
	to {
		@include transform(translateZ(0));
	}
}
@include keyframes(bg-onload) {
	from {
		background-position:50% 0;
	}
	to {
		background-position:50% 100%;
	}
}
.island {
	width:100%;
	@include animation(island-onload 0.8s cubic-bezier(.87,-.41,.19,1.44));
	@include transform(translate3d(0, 0, 0));
	@include backface-visibility(hidden);
	@include perspective(1000);
}
.island-shadow {
	position:absolute;
	top:13%;
	left:50%;
	@include transform(translateX(-50%));
	width:10rem;
	height:1rem;
	background:black;
	border-radius:50%;
	opacity:0.12;
}
.landscape-mist {
	width:100%;
	height:100%;
	position:absolute;
	top:0;
	left:0;
	background:url('../images/mist.png');
	background-size:1920px 100%;
	background-position:0 0;
	background-repeat:repeat-x;
	//@include animation(mist 25s linear infinite);
}

@include keyframes(mist) {
	from {
		background-position:0 0;
	}
	to {
		background-position:1920px 0;
	}
}


// Island float

@include keyframes(float) {
  0% {
    margin-top:0;
  }
  50% {
    margin-top:0.3%;
  }
  100% {
	margin-top:0;
  }
}