nav.index-nav {
	width:100%;
	height:auto;
	position:fixed;
	top:0;
	left:0;
	background:rgba(#fff, 0.2);
	z-index:3;
	//border-bottom:1px solid white;
	box-shadow:0 2px 4px rgba(#000, 0.2);
	ul {
		margin:0;
		padding:0;
		text-align:center;
		li {
			list-style-type:none;
			display:inline-block;
			font-family:$heading-font;
			text-transform:uppercase;
			font-size:1em;
			padding:0.5rem 2rem;
			color:#fff;
			text-shadow:-1px 1px 1px $body-color + 50;
			a {
				width:100%;
				height:100%;
			}
		}
	}
}