section.project-overview {
	text-align:center;
	padding:4rem;
	h1 {
		font-family:$heading-font;
		text-transform:uppercase;
		margin:0;
		@include media($zero) {
			font-size:1em;
		}
		@include media($mobile) {
			font-size:2em;
		}
		@include media($tablet) {
			font-size:3em;
		}
		@include media($desktop) {
			font-size:4em;
		}
	}
	hr {
		width:20%;
		border:1px solid;
		max-width:7rem;
	}
	p {
		font-family:$body-font;
		margin:0;
		padding:2rem 0 2rem 0;
		@include media($tablet) {
			padding:2rem 1rem 2rem 1rem;
		}
		@include media($desktop) {
			padding:4rem 10rem 4rem 10rem;
		}
	}
}

section.project-stats {
	@include media($desktop) {
		border:1px solid;
		@include bradius;
		padding:2rem;
	}
	p, ul {
		font-family:$body-font;
	}
	h2 {
		font-family:$heading-font;
		text-transform:uppercase;
		margin:0;
	}
	.ambition, .roles, .technologies {
		padding:2rem;
		border:1px solid;
		@include bradius;
		margin-bottom:1rem;
		@include media($desktop) {
			border:0;
			border-radius:0;
			margin-bottom:0;
		}
	}
	.ambition {
		@include media($desktop) {
			height:100%;
			border-right:1px solid;
		}
	}
}

main.project-page {
	button {
		position:relative;
		padding:2rem;
		text-transform:uppercase;
		font-family:$body-font;
		font-size:1em;
		color:white;
		background:green;
		border:0;
		-webkit-font-smoothing: antialiased;
		box-shadow:0px 5px 10px rgba(black, 0.2);
		@include bradius;
		@include transition(all 0.2s ease-out);
		@include media($tablet) {
			font-size:1.5em;
		}
		&:focus {
			outline:0;
		}
	}
}

.no-touch {
	main.project-page {
		button {
			&:hover {
				@include transform(scale(1.03));
				box-shadow:0px 10px 15px rgba(black, 0.3);
			}
			&:active {
				box-shadow:0px 0px 10px rgba(black, 0.2);
				@include transform(scale(0.97));
			}
		}
	}
}