main.project-page {
	nav {
		position:fixed;
		top:0;
		left:0;
		width:100%;
		background-color:rgba(#fff, 0.95);
		z-index:1;
		border-bottom:1px solid rgba(#000, 0.05);
		ul {
			padding:0;
			margin:0;
			li {
				list-style-type:none;
				font-family:$heading-font-light;
				text-transform:uppercase;
				padding:1rem;
				font-size:0.5em;
				&.nav-disabled {
					opacity:0.2;
				}
				&:first-child {
					float:left;
				}
				&:nth-child(2) {
					float:right;
				}
				&:nth-child(3) {
					float:right;
				}
				@include media($mobile) {
					font-size:0.7em;
				}
				@include media($tablet) {
					font-size:1em;
				}
				a {
					text-decoration:none;
					color:inherit;
					@include transition(all 0.2s ease-in-out);
					.no-touch & {
						&:hover {
							color:rgba(#000, 0.5);
						}
					}
				}
			}
		}
	}
}

section.project-overview {
	text-align:center;
	padding:6rem 1rem 0 1rem;
	@include media($mobile) {
		padding:6rem 4rem 0 4rem;
	}
	h1 {
		font-family:$heading-font;
		text-transform:uppercase;
		margin:0;
		@include media($zero) {
			font-size:1.5em;
		}
		@include media($mobile) {
			font-size:2em;
		}
		@include media($tablet) {
			font-size:3em;
		}
		@include media($desktop) {
			font-size:4em;
		}
	}
	hr {
		width:20%;
		border:0;
		border-top:1px solid;
		max-width:7rem;
		margin-bottom:0;
	}
	p {
		@include bodyfont;
		margin:0;
		padding:2rem 0 2rem 0;
		font-size:0.8em;
		line-height:$lineheight;
		@include media($tablet) {
			padding:2rem 1rem 2rem 1rem;
		}
		@include media($desktop) {
			padding:4rem 10rem 4rem 10rem;
			font-size:0.9em;
		}
	}
}

section.project-stats {
	@include media($desktop) {
		border:1px solid;
		@include bradius;
		//padding:2rem;
	}
	p, ul {
		@include bodyfont;
		font-size:0.8em;
		line-height:$lineheight;
		@include media($desktop) {
			font-size:0.9em;
		}
	}
	h2 {
		font-family:$heading-font;
		text-transform:uppercase;
		margin:0;
	}
	.ambition, .roles, .technologies {
		padding:2rem;
		border:1px solid;
		@include bradius;
		margin:0.5rem;
		@include media($desktop) {
			border:0;
			border-radius:0;
			margin:0;
		}
		ul {
			padding:0;
			li {
				list-style-type:none;
			}
		}
	}
	.ambition {
		p {
			text-align:justify;
		}
	}
	.ambition, .roles {
		@include media($desktop) {
			border-right:1px solid;
		}
	}
	.technologies {
		margin-bottom:0;
	}
}

section.project-buttons {
	text-align:center;
	margin-bottom:2rem;
	@include media($desktop) {
		margin-bottom:4rem;
	}
	a {
		text-decoration:none;
		&:first-child button {
			margin-bottom:2rem;
		}
		@include media($tablet) {
			&:first-child button {
				margin-right:2rem;
				margin-bottom:0;
			}
		}
	}
}

section.project-images {
	padding:2rem 0 2rem 0;
	@include media($desktop) {
		padding:4rem 0 4rem 0;
	}
}
.project-img {
	margin-bottom:2rem;
	padding-left:0.5rem;
	padding-right:0.5rem;
	text-align:center;
	@include media($desktop) {
		padding-left:0;
		padding-right:0;
		margin-bottom:4rem;
	}
	&:last-child {
		margin-bottom:0;
	}
	img {
		max-width:100%;
		@include bradius;
		&.img-bordered {
			border:1px solid lightgrey;
		}

	}

}
.project-descrip {
	@include bodyfont;
	margin-bottom:2rem;
	@include media($desktop) {
		margin-bottom:4rem;
	}
	&:last-child {
		margin-bottom:0;
	}
	p {
		margin:0;
		font-size:0.8em;
		text-align:justify;
		line-height:$lineheight;
		@include media($desktop) {
			font-size:1em;
		}
	}
	hr {
		width:50%;
		border:0;
		border-top:1px dotted black;
		margin-top:2rem;
		@include media($desktop) {
			margin-top:4rem;
		}
	}
}