section.project-overview {
	text-align:center;
	padding:4rem;
	h1 {
		font-family:$heading-font;
		text-transform:uppercase;
		margin:0;
	}
	hr {
		width:20%;
		border:1px solid;

	}
	p {
		font-family:$body-font;
	}
}

section.project-stats {
	@include media($desktop) {
		border:1px solid;
	}
	p, ul {
		font-family:$body-font;
	}
	h2 {
		font-family:$heading-font;
		text-transform:uppercase;
		margin:0;
	}
	.ambition, .roles, .technologies {
		padding:2rem;
		border:1px solid;
		margin-bottom:1rem;
		@include media($desktop) {
			border:0;
		}
	}
}