.v-align:after {
    display: inline-block;
    height: 100%;
    width: 0;
    vertical-align: middle;
    content: '';
}
.v-align > .v-aligned {
    display: inline-block;
    vertical-align: middle;
    //text-align: left;
}