@mixin bradius {
  border-radius:3px;
}

@mixin bodyfont {
	font-family:$body-font;
	-webkit-font-smoothing: antialiased;
}
@mixin subheadingfont {
	font-family:$sub-heading-font;
	-webkit-font-smoothing: antialiased;
}