$primary-color: #F7505A;

$header-bubble-font: 'bubblegumregular';
$header-zigzag-font: 'zigzag-notroundeduploadedfile';

$heading-font: 'proxima_nova_rgbold';
$sub-heading-font: 'libre_baskervilleitalic';