$body-color:#444;

$header-bubble-font: 'bubblegumregular';

$heading-font: 'proxima_nova_rgbold';
$heading-font-light: 'proxima_nova_ltlight';
$body-font: Libre Baskerville;
$sub-heading-font: Libre Baskerville;

$lineheight: 1.7em;
