@import "bourbon";
@import "neat";

// Base stuff
@import "base/normalize";
@import "base/typography";
@import "base/fontello";

// Utilities
@import "utils/variables";
@import "utils/mixins";
@import "utils/helpers";

// Partials
@import "partials/grid";
@import "partials/nav";
@import "partials/header";
@import "partials/projectpage";
@import "partials/footer";

//Components
@import "components/island";
@import "components/loader";

// Pages
@import "pages/index";
@import "pages/plugmedia";
@import "pages/peter-ashmore";
@import "pages/footer-reveal";
@import "pages/simplespin";
@import "pages/trunkys";

// Components


.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

* {
    @include box-sizing(border-box);
}

h1,h2,h3,h4,h5,h6 {
	font-weight:normal;
}

a {
	text-decoration:none;
	color:inherit;
}

::selection {
  background: $body-color + 100; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $body-color + 100; /* Gecko Browsers */
}