main.index {
	//background-color:#94ffea;
	//@include linear-gradient(#94ffea 0%, #2a8892 50%, $fallback:#94ffea );
	position:relative;
	z-index:1;
	@include media($desktop) {
		padding-left:0.5rem;
		padding-right:0.5rem;
	}
	@include media($container) {
		padding-left:0;
		padding-right:0;
	}
	&:after {
		content:"";
		width:15rem;
		height:5rem;
		background:#94ffea;
		position:absolute;
		top:-1.5rem;
		left:50%;
		border-top-left-radius:100%;
		border-top-right-radius:100%;
		//border:1px solid black;
		box-shadow:-10rem 0.5rem 0 #94ffea;
	}
}

section.intro {
	text-align:center;
	padding-bottom:2rem;
	padding-top:4rem;
	@include media($desktop) {
		padding-bottom:4rem;
		padding-top:8rem;
	}
	hr {
		padding:0;
		border:0;
		border-top:1px dashed #fff;
		width:50%;
		position:relative;
		&:first-child {
			@include animation(introtop 1s cubic-bezier(.87,-.41,.19,1.44));
		}
		&:last-child {
			@include animation(introbottom 1s cubic-bezier(.87,-.41,.19,1.44));
		}
	}
	h1 {
		font-weight:normal;
		color:#fff;
		margin:0;
		&:first-of-type {
			font-family:$heading-font;
			text-transform:uppercase;
			letter-spacing:0.2em;
			margin-bottom:1rem;
			margin-top:3rem;
			@include heading-shadow;
			@include media($zero) {
				font-size:2em;
			}
			@include media($mobile) {
				font-size:2.5em;
			}
		}
		&:nth-of-type(2) {
			@include subheadingfont;
			margin-bottom:3rem;
			text-shadow:0 -2px 2px #94ffea - 40;
			@include media($zero) {
				font-size:1em;
			}
			@include media($mobile) {
				font-size:1.3em;
			}
		}
	}
}

@include keyframes(introtop) {
	from {
		left:-100%;
	}
	to {
		left:0;
	}
}
@include keyframes(introbottom) {
	from {
		right:-100%;
	}
	to {
		right:0;
	}
}

section.about {
	@include panel;
	.about-about {
		padding-bottom:2rem;
		border-bottom:1px dotted;
		@include media($desktop) {
			border-bottom:0;
			padding-bottom:0;
			padding-right:4rem;
		}
	}
	.about-technologies {
		padding-top:2rem;
		@include media($desktop) {
			border-left:1px dotted;
			padding-top:0;
			padding-left:4rem;
		}
		ul {
			padding:0;
			margin:0;
			li {
				display:inline-block;
				border:1px solid;
				padding:0.4em;
				margin:0.3em 0 0.3rem 0.3rem;
				line-height:1em;
				font-size:0.8em;
				@include media($desktop) {
					font-size:0.9em;
				}
			}
		}
	}
}

.section-title {
	@include sectiontitle;
}

section.projects {
	padding:0 0.5rem 2rem 0.5rem;
	@include media($desktop) {
		padding:0 0 4rem 0;

	}
	.project {
		padding:2rem 0;
		border-bottom:1px dotted #fff;
		@include media($desktop) {
			padding:4rem 0;
			border-bottom:0;
		}
		&:last-child {
			border-bottom:0;
			padding-bottom:0;
		}
	}
}
.project-thumb {
	background-size:cover;
	background-position:center;
	height:20rem;
	@include bradius;
	@include media($desktop) {
		height:24rem;
	}
	&.plugmedia {
		background-image:url(../images/plugmedia/plugmedia-scroll.gif);
	}
	&.peter-ashmore {
		background-image:url(../images/peterashmore/peterashmore-audio.gif);
	}
	&.trunkys {
		background-image:url(../images/trunkys/trunkys-carboxman.png);
	}
	&.simplespin {
		background-image:url(../images/simplespin/simplespin-demo.gif);
	}
	&.footer-reveal {
		background-image:url(../images/footerreveal/footerreveal-demo.gif);
	}
}
.project-info {
	text-align:center;
	padding:1.5rem 1.5rem 0 1.5rem;;
	color:#fff;
	h3 {
		font-family:$heading-font-light;
		font-weight:normal;
		text-transform:uppercase;
		font-size:1.7em;
		margin:0;
		letter-spacing:0.2em;
	}
	hr {
		width:40%;
		border:0;
		border-top:1px dotted;
		margin-top:0.5rem;
		margin-bottom:0.5rem;
	}
	.project-roles {
		@include subheadingfont;
		font-size:1em;
		-webkit-font-smoothing: antialiased;
	}
	.project-description {
		@include bodyfont;
		font-size:0.8em;
		margin-top:2.5rem;
		margin-bottom:2.5rem;
		padding:2rem;
		background:white;
		line-height:$lineheight;
		@include bradius;
		color:$body-color;
		position:relative;
		box-shadow:-2px -2px 3px rgba(#000, 0.1);
		/*&:before {
			content:"";
			width:1rem;
			height:1rem;
			position:absolute;
			top:-0.5rem;
			left:50%;
			margin-left:-0.5rem;
			background:white;
			@include transform(rotate(45deg));
			border-radius:1px;
		}*/
	}
	button {
		@include button(#fff, #2a8892 - 30, #2a8892 - 30);
		color:#fff;
	}
}

section.contact {
	padding-bottom:200vh;
	.contact-panel {
		@include panel;
	}
	p {
		width:100% * 0.3;
	}
	a {
		text-decoration:underline;
		color:#2a8892;
	}
}
