main {
	//background-color:#94ffea;
	//@include linear-gradient(#94ffea 0%, #2a8892 50%, $fallback:#94ffea );
	position:relative;
	z-index:1;
}

section.intro {
	text-align:center;
	padding-top:15rem;
	padding-bottom:15rem;
	h1 {
		font-weight:normal;
		color:$body-color;
		text-shadow:0 -2px 2px #94ffea - 40;
		margin:0;
		&:first-child {
			font-family:$heading-font;
			text-transform:uppercase;
			letter-spacing:0.2em;
			margin-bottom:1rem;
			@include media($zero) {
				font-size:2em;
			}
			@include media($mobile) {
				font-size:2.5em;
			}
		}
		&:nth-child(2) {
			font-family:$sub-heading-font;
			@include media($zero) {
				font-size:1em;
			}
			@include media($mobile) {
				font-size:1.3em;
			}
		}
	}
}

section.projects {
	padding-bottom:20rem;
	@include media($desktop) {
		//margin-top:12rem;
	}
	.project {
		padding:0 0.5rem;
		&:not(:first-child) {
			margin-top:12rem;
		}
		@include media($desktop) {
			padding:0 2rem;
		}
	}
}
.project-image {
	background-size:cover;
	background-position:center;
	height:20rem;
	@include media($desktop) {
		height:24rem;
	}
	&.plugmedia {
		background-image:url(../../images/plugmedia.gif);
	}
	&.peter-ashmore {
		background-image:url(../../images/peter-ashmore.gif);
	}
	&.penrose {
		background-image:url(../../images/plugmedia.gif);
	}
	&.trunkys {
		background-image:url(../../images/plugmedia.gif);
	}
	&.simplespin {
		background-image:url(../../images/simplespin.gif);
	}
	&.easter {
		background-image:url(../../images/easter.gif);
	}
	&.footer-reveal {
		background-image:url(../../images/footer-reveal.gif);
	}
}
.project-info {
	text-align:center;
	padding:1.5rem;
	color:$body-color;
	h3 {
		font-family:$body-font;
		font-weight:normal;
		text-transform:uppercase;
		font-size:2em;
		margin:0;
		letter-spacing:0.2em;
	}
	hr {
		width:40%;
		border:1px solid $body-color;
		margin-top:1.5rem;
		margin-bottom:1.5rem;
	}
	.project-roles {
		font-family:$sub-heading-font;
		font-size:0.8em;
	}
	.project-description {
		text-align:left;
		font-family:$body-font;
		margin-top:2.5rem;
		margin-bottom:2.5rem;
		padding:0 1rem;
	}
	button {
		width:15rem;
		height:4rem;
		background:none;
		border:1px solid $body-color;
		border-left:0;
		border-right:0;
		font-family:$body-font;
		text-transform:uppercase;
		color:$body-color;
		font-size:1.2em;
		position:relative;
		@include transition(all 0.2s);
		&:before {
			content:"";
			width:1px;
			height:100%;
			background:$body-color;
			position:absolute;
			top:0;
			left:0;
			@include transition(all 0.2s ease-out);
		}
		&:after {
			content:"";
			width:1px;
			height:100%;
			background:$body-color;
			position:absolute;
			top:0;
			right:0;
			@include transition(all 0.2s ease-out);
		}
		&:active {
			font-size:1.1em;
		}
		&:focus {
			outline:0;
		}
	}
}

.no-touch {
	.project-info {
		button {
			&:hover {
				border-color:#2a8892 - 20;
				&:before {
					left:1rem;
					background:#2a8892 - 20;
				}
				&:after {
					right:1rem;
					background:#2a8892 - 20;
				}
			}
		}
	}
}