main.index {
	//background-color:#94ffea;
	//@include linear-gradient(#94ffea 0%, #2a8892 50%, $fallback:#94ffea );
	position:relative;
	z-index:1;
	@include media($desktop) {
		padding-left:0.5rem;
		padding-right:0.5rem;
	}
	@include media($container) {
		padding-left:0;
		padding-right:0;
	}
	&:after {
		content:"";
		width:15rem;
		height:5rem;
		background:#94ffea;
		position:absolute;
		top:-1.5rem;
		left:50%;
		border-top-left-radius:100%;
		border-top-right-radius:100%;
		//border:1px solid black;
		box-shadow:-10rem 0.5rem 0 #94ffea;
	}
}

section.intro {
	text-align:center;
	padding-top:10rem;
	padding-bottom:10rem;
	@include media($desktop) {
		padding-top:15rem;
	}
	hr {
		padding:0;
		border:0;
		border-top:1px dashed #fff;
		width:50%;
	}
	h1 {
		font-weight:normal;
		color:$body-color;
		text-shadow:0 -2px 2px #94ffea - 40;
		margin:0;
		&:first-of-type {
			font-family:$heading-font;
			text-transform:uppercase;
			letter-spacing:0.2em;
			margin-bottom:1rem;
			margin-top:4rem;
			@include media($zero) {
				font-size:2em;
			}
			@include media($mobile) {
				font-size:2.5em;
			}
		}
		&:nth-of-type(2) {
			font-family:$sub-heading-font;
			margin-bottom:4rem;
			-webkit-font-smoothing: antialiased;
			@include media($zero) {
				font-size:1em;
			}
			@include media($mobile) {
				font-size:1.3em;
			}
		}
	}
}

section.about {
	color:#000;
	@include bodyfont;
	margin:0 0.5rem 10rem 0.5rem;
	background:white;
	padding:2rem 0 2rem;
	box-shadow:-2px -2px 3px rgba(#000, 0.1);
	@include bradius;
	@include media($desktop) {
		@include outer-container;
		margin-bottom:10rem;
	}
	h2 {
		font-family:$heading-font;
		text-transform:uppercase;
		//color:#2a8892 - 20;
		margin:0;
		margin-bottom:1rem;
	}
	.about-about, .about-technologies {
		padding:2rem;
		@include media($mobile) {
			padding:2rem 3rem;
		}
		@include media($tablet) {
			padding:2rem 5rem;
		}
	}
	.about-about {
		p {
			margin:0;
			font-size:1.1em;
		}
	}
	.about-technologies {
		@include media($desktop) {
			border-left:1px dotted;
		}
		ul {
			padding:0;
			margin:0;
			li {
				display:inline-block;
				border:1px solid;
				padding:0.4em;
				margin:0.3em 0 0.3rem 0.3rem;
				line-height:1em;
			}
		}
	}
}

section.projects {
	padding-bottom:100vh;
	@include media($desktop) {
		//margin-top:12rem;
	}
	.project {
		padding:0 0.5rem;
		&:not(:first-child) {
			margin-top:4rem;
			@include media($desktop) {
				margin-top:12rem;
			}
		}
		@include media($desktop) {
			padding:0;
		}
	}
}
.project-thumb {
	background-size:cover;
	background-position:center;
	height:20rem;
	@include bradius;
	@include media($desktop) {
		height:24rem;
	}
	&.plugmedia {
		background-image:url(../images/plugmedia/plugmedia-scroll.gif);
	}
	&.peter-ashmore {
		background-image:url(../images/peterashmore/peterashmore-audio.gif);
	}
	&.trunkys {
		background-image:url(../images/trunkys/trunkys-carboxman.png);
	}
	&.simplespin {
		background-image:url(../images/simplespin/simplespin-demo.gif);
	}
	&.footer-reveal {
		background-image:url(../images/footerreveal/footerreveal-demo.gif);
	}
}
.project-info {
	text-align:center;
	padding:1.5rem;
	color:$body-color;
	h3 {
		font-family:$body-font;
		font-weight:normal;
		text-transform:uppercase;
		font-size:2em;
		margin:0;
		letter-spacing:0.2em;
	}
	hr {
		width:40%;
		border:0;
		border-top:1px solid $body-color;
		margin-top:1.5rem;
		margin-bottom:1.5rem;
	}
	.project-roles {
		font-family:$sub-heading-font;
		font-size:0.9em;
		-webkit-font-smoothing: antialiased;
	}
	.project-description {
		text-align:left;
		font-family:$body-font;
		margin-top:2.5rem;
		margin-bottom:2.5rem;
		padding:0 1rem;
	}
	button {
		width:15rem;
		height:4rem;
		background:none;
		border:1px solid $body-color;
		border-left:0;
		border-right:0;
		font-family:$body-font;
		text-transform:uppercase;
		color:$body-color;
		font-size:1.2em;
		position:relative;
		@include transition(all 0.4s);
		&:before {
			content:"";
			width:1px;
			height:100%;
			background:$body-color;
			position:absolute;
			top:0;
			left:0;
			@include transition(all 0.4s cubic-bezier(.87,-.41,.19,1.44));
		}
		&:after {
			content:"";
			width:1px;
			height:100%;
			background:$body-color;
			position:absolute;
			top:0;
			right:0;
			@include transition(all 0.4s cubic-bezier(.87,-.41,.19,1.44));
		}
		&:active {
			font-size:1.1em;
		}
		&:focus {
			outline:0;
		}
	}
}

.no-touch {
	.project-info {
		button {
			&:hover {
				border-color:#2a8892 - 20;
				&:before {
					left:1rem;
					background:#2a8892 - 20;
				}
				&:after {
					right:1rem;
					background:#2a8892 - 20;
				}
			}
		}
	}
}