main.peterashmore-project {

	section.project-overview {
		hr {
			border-color:#56a9d8;
		}
	}

	section.project-stats, .ambition, .roles, .technologies {
		border-color:#56a9d8;
	}

	button {
		background:#56a9d8;
	}
	.project-img.peterashmore-mobile-header {
		@include media($desktop) {
			width:50%;
			text-align:left;
		}
	}
}