main.plugmedia-project {

	section.project-overview {
		hr {
			border-color:#E14D3D;
		}
	}

	section.project-stats, .ambition, .roles, .technologies {
		border-color:#E14D3D;
	}

	button {
		background:#E14D3D;
	}

}