main.plugmedia-project {

	section.project-overview {
		hr {
			border-color:#e74c3c;
		}
	}

	section.project-stats, .ambition, .roles, .technologies {
		border-color:#e74c3c;
	}

	section.project-buttons {
		p {
			font-family:$heading-font;
			font-style:italic;
			margin:2rem 0 0 0;
			@include media($desktop) {
				margin:4rem 0 0 0;
			}
		}
	}

	.project-palette {
		.color-circle {
			&:first-child {
				background:#E74C3C;
			}
			&:nth-child(2) {
				background:#3498DB;
			}
			&:nth-child(3) {
				background:#fff;
				border:1px solid #e74c3c;
			}
		}
	}

	button {
		@include button(#e74c3c, $body-color, $body-color);
	}

}