main.trunkys-project {

	section.project-overview {
		hr {
			border-color:#F05B5C;
		}
	}

	section.project-stats, .ambition, .roles, .technologies {
		border-color:#F05B5C;
	}

	.project-img.trunkys-ui {
		@include media($desktop) {
			width:50%;
			text-align:left;
		}
	}
}