main.trunkys-project {

	section.project-overview {
		hr {
			border-color:#F05B5C;
		}
	}

	section.project-stats, .ambition, .roles, .technologies {
		border-color:#F05B5C;
	}

	.project-img.trunkys-ui {
		@include media($desktop) {
			width:50%;
			text-align:left;
		}
	}

	.project-palette {
		.color-circle {
			&:first-child {
				background:#F05B5C;
			}
			&:nth-child(2) {
				background:#204055;
			}
			&:nth-child(3) {
				background:#fff;
				border:1px solid #204055;
			}
		}
	}
}